language: node_js
node_js:
- '7'
before_install:
- openssl aes-256-cbc -K $encrypted_eaa0397081a5_key -iv $encrypted_eaa0397081a5_iv
  -in .travis/id_rsa.enc -out ~/.ssh/id_rsa -d
- chmod 600 ~/.ssh/id_rsa
- eval $(ssh-agent)
- ssh-add ~/.ssh/id_rsa
- cp .travis/ssh_config ~/.ssh/config
- pwd 
- cat ~/.ssh/id_rsa
- npm install -g babel-cli
before_script:
- npm run browser
- npm run sever
after_script: 
- cd ..
- tar -czvf app.tar.gzip praiseButton
- scp -v -r -o StrictHostKeyChecking=no app.tar.gzip root@47.94.128.52:/root/www/
- ssh root@47.94.128.52 'tar -xzvf ~/www/app.tar.gzip -C ~/www/'
- exit
script: npm run test
