sudo: required
language: node_js
node_js:
- '7'
before_install:
- openssl aes-256-cbc -K $encrypted_83baa8d38010_key -iv $encrypted_83baa8d38010_iv
  -in .travis/id_rsa.enc -out ~/.ssh/id_rsa -d
- chmod 600 ~/.ssh/id_rsa
- eval $(ssh-agent)
- ssh-add ~/.ssh/id_rsa
- cp .travis/ssh_config ~/.ssh/config
- npm install -g babel-cli
before_script:
- npm run browser
- npm run sever
script: node app.js
after_script:
- scp -o StrictHostKeyChecking=no ../praise root@iZ2ze8ofvx4u0vx4fi5zfbZ:/root/www/
